* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root, html {
	background-color: #6E6E6E;
	height: auto;
  color: white;
}

.custom-img-size {
	width: 150px; 
	height: 150px;
}

.cardHighlight {
	min-height: 100%;
}

.card-form{
  border-radius: 10px;
}

.truncate-text-two-lines {
  height: 4em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to two lines */
  -webkit-box-orient: vertical;
}


.checkout {
  position: fixed;
  bottom: 0;
  left: 0; /* You can adjust this to control the horizontal position */
  width: 100%;
  background-color: #6E6E6E; /* Background color of the checkout container */
  border-top: 1px solid #cccccc; /* Add a border at the top for separation */
  padding: 5px; /* Adjust padding as needed */
  color: #BAFF39;
}

Navbar{
  width: 100%;
  background-color: #6E6E6E; /* Background color of the checkout container */
  border-top: 1px solid #cccccc; /* Add a border at the top for separation */
  padding: 10px; /* Adjust padding as needed */
  color: #BAFF39;
}

.product-link{
  text-decoration: none !important;
}

.custom-navbar-toggle{
  border: 3px solid #BAFF39 !important;
  color: #BAFF39 !important;
  border-radius: 25% !important;
}

.custom-navbar-toggle .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' class='custom-navbar-toggle-svg'%3E%3Cpath stroke='rgba(186, 255, 57, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.form-control {
  border-color: #BAFF39 !important; /* Change to your desired color */
  box-shadow: 0 0 0 0.2rem rgba(186, 255, 57, 0.25) !important; /* Optional: Add a subtle box shadow */
}

.navbar .nav-link, .banner, .featured-title, .header-title  {
  color: #BAFF39;
}

.banner-button {
  background-color: #BAFF39 !important;
  /* You can add other styles as needed */
  color: black !important; /* Text color */
  border: none !important; /* Remove the button border if desired */
}

.cart-button {
   width: 130px;
   height: 30px;
}

.cart-total{
  font-size: 20px;
}

.navbar .nav-brand  {
  color: #BAFF39 !important;
}

.card-text {
  color: #BAFF39 !important;
}

.cardHighlight {
  background-color: #A9A9A9 !important;
}

.accordion-button {
  background-color: #212529 !important;
  color: #BAFF39 !important;
}

.accordion-button:focus {
  box-shadow: none;
  color: #BAFF39 !important;
}

.accordion-button:not(.collapsed) {
  color: #BAFF39 !important;
}

/* Removes arrow button from number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* For large screens */
@media (min-width: 992px) {
  .large-screen-content {
    display: block;
  }

  .small-screen-content {
    display: none;
  }
}
/* For small screens */
@media (max-width: 992px) {
  .large-screen-content {
    display: none;
  }

  .small-screen-content {
    display: block;
  }
}

